{:paths ["src"]
 :deps {http-kit/http-kit  {:mvn/version "2.3.0"}
        compojure/compojure {:mvn/version "1.6.2"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.709"}
        com.h2database/h2 {:mvn/version "1.4.200"}}}